<link
  rel="stylesheet"
  href="/css/user_profile.css"
/>
<!-- <h1 style="color: black">Gamespace | <%= title %></h1> -->
<div class="container">
  <%if(user.avatar){ %>
  <img
    src="<%= user.avatar %>"
    alt="<%= user.name %>"
    width="100"
  />
  <% } %>

  <p><%= user.name %></p>
  <p><%= user.email %></p>
</div>

<!-- if user matches then show the form -->
<form
  action="/users/update/<%= user.id %>"
  enctype="multipart/form-data"
  method="POST"
  id="updateForm"
>
  <input
    type="text"
    name="name"
    placeholder="Your Name"
    value="<%= user.name %>"
    required
  />
  <input
    type="email"
    name="email"
    placeholder="Your Email"
    value="<%= user.email %>"
    required
  />

  <input
    type="file"
    name="avatar"
    placeholder="Profile Picture"
  />
  <input
    type="submit"
    value="Update"
    id="submitButton"
  />
</form>

<script>
  document.getElementById("updateForm").addEventListener("submit", function (event) {
    event.preventDefault();
    var formData = new FormData(this);
    var xhr = new XMLHttpRequest();
    xhr.open("POST", this.action, true);
    xhr.onreadystatechange = function () {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
          window.location.href = "/";
        } else {
          console.error("Form submission failed with status: " + xhr.status);
        }
      }
    };
    xhr.send(formData);
  });
</script>

